body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.avatar-wrapper {
    position: relative;
    display: inline-block;
}

.avatar {
    width: 183px;
    height: 183px;
    background-image: url('https://i.shgcdn.com/0465384c-9563-417b-b638-517529f21c3c/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
    background-size: cover;
    background-position: center;
    background-color: #ffebf2;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.notification {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

input[type="text"], input[type="url"], input[type="tel"] {
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.phone-list {
    margin-top: 20px;
}

.phone-list ul {
    list-style: none;
    padding: 0;
}

.phone-list li {
    margin: 5px 0;
}


.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-row label {
    margin-right: 10px;
    min-width: 150px;
}

.input-row input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}